node_modules/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


*.swl
*.swm
*.swn
*.swp
*.pyc
*.bak
*.swo
*.DS_Store
*~
~*
*Thumbs.db
*.tar.gz
*.svn
*/*.svn
*.sass-cache
*._*
build.txt
jsconfig.json
config.json
jsconfig.json
node_modules
npm-debug.log
tmp
__ui__
__ui__.php

build/config/local.js
bower_components
.tmp
dump.rdb
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
.locals
._README.md
*._README.md
assets/dev
assets/helper
assets/debug
assets/**/debug
*.sql~
shelljs_*
src/php-views/tob.html
src/php-views/dev
src/php-views/debug
dist/php-views/debug
.happypack
.vscode
*___jb_old___
webpack/config/local.js
.uglify-cache
src/php-views/*.debug.html
src/php-views/debug.html
build/config/local.js
build/config/index.html
ecosystem.dev.json
setting-config.json
