@media (max-width: 900px) {
  :global{
    .ant-modal {
      max-width: 100% !important;
      margin: 0;
    }
  }
}
$borderRadiusSize: 10px;

body{
  padding-right: 0 !important;
}

.wrapper{
  &.ant-modal-wrap{
    right: -20px;
  }
  // 覆盖antd dialog样式
  :global {
    .ant-modal{
      margin-top: 20px;
      margin-bottom: 20px;  // 小屏下上下留白20px
      padding-bottom:0;
    }

    .ant-modal-mask {
      background-color: rgba(0, 0, 0, 0.75);
    }

    // 移除全局dialog 关闭按钮变色过渡动画
    .ant-modal-close {
      transition: none;
      &:hover {
        color: #111;
      }
    }
    .ant-modal-close-x{
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }

    .ant-modal-content{
      border-radius: $borderRadiusSize;
      overflow:hidden;
    }

    .ant-modal-header{
      padding: 14px 20px;
      border-radius: unset;
      border-bottom: none 0;
      background:#f9f9f9;
      min-height: 50px;
      .ant-modal-title{
        color:#111;
        font-weight:400;
        font-size: 14px;
      }
    }

    .ant-modal-footer{
      border-radius: 0 0 $borderRadiusSize $borderRadiusSize;
      border-top: none 0;
      padding: 10px;
    }

    .ant-modal-body {
      padding: 0;
      white-space: normal;
    }
  }
}

.footer {
  padding-bottom: 20px;
  :global {
    .ic-btn {
      width: 80px;
    }
    .ic-btn+.ic-btn {
      margin-left: 10px;
    }
  }

}


.body {
  padding: 16px;
  font-size: 14px;
}

.loading {
  padding: 30px 0 50px;
  text-align: center;
}
.anticon {
  font-size: 16px;
}

.loading-content {
  margin-top: 8px;
}


.vertically-centered{
  text-align: center;
  white-space: nowrap;

  &:before{
    display: inline-block;
    vertical-align: middle;
  }

  &:before{
    content: '';
    height: 100%;
    width: 0;
  }

  :global{

    .ant-modal {
      display: inline-block;
      vertical-align: middle;
    }

    .ant-modal {
      top: 0;
      text-align: left;
    }
  }
}

.shortcut-box{
  white-space: nowrap;
  // margin-left:48px;
  text-align: center;
}

.shortcut-title {
  font-size: 14px;
  font-weight:bold;
  color:#111;
  // margin-bottom: 5px;
}

.shortcut-inner {
  padding-left: 6px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  text-align: left;
  color:#666;
}

.shortcut-icon {
  vertical-align: top;
  font-size: 18px; // margin-right: 12px;
  // margin-left:-48px;
}



.shortcut-info-icon {
  color: #ffd000;
}

.shortcut-success-icon {
  color: #86cf76;
}

.shortcut-warning-icon,
.shortcut-confirm-icon {
  color: #ffa93b;
}

.shortcut-error-icon {
  color: #ff5224;
}

.shortcut-notagain-checkbox {
  margin-top: 20px;
}

.shortcut-warning-title{
  font-size: 14px;
  color: #111;
  font-weight: 700;
}

:global{
  .ic-dialog-content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
  }
  .ic-dialog-body {
    overflow: auto;
  }
}

